@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
:root{
    /* Dark theme colors */
    --text-color: #edf3ff;
    --subheading-color: #97a7ca;
    --placeholder-color: #c3cdee;
    --primary-color: #101623;
    --secondary-color: #283045;
    --secondary-hover-color: #333e58;
    --scrollbar-color: #626a7f;
}
body{
    color: var(--text-color);
    background: var(--primary-color);
}
.container{
    padding: 32px 0 60px;
}
.container :where(.app-header, .suggestions, .prompt-wrapper, .disclaimer-text){
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 980px;
}

/* App header stylings */
.container .app-header{
    margin-top: 4vh;
}
.app-header .heading{
    font-size: 3rem;
    width: fit-content;
    background: linear-gradient(to left, black, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.app-header .sub-heading{
    font-size: 2.6rem;
    margin-top: -5px;
    width: fit-content;
    background: linear-gradient(to right, black, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Suggestions list stylings */
.container .suggestions{
    display: flex;
    gap: 15px;
    margin-top: 9.5vh;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
}
.container :is(.app-header, .suggestions) {
    display: none;
}
.suggestions .suggestions-item{
    width: 228px;
    padding: 18px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--secondary-color);
}
.suggestions .suggestions-item:hover{
    background: var(--secondary-hover-color);
    transition: .3s ease;
}
.suggestions .suggestions-item .text{
    font-size: 1.1rem;
}
.suggestions .suggestions-item span{
    height: 45px;
    width: 45px;
    margin-top: 35px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #1d7efd;
    background: var(--primary-color);
}
.suggestions .suggestions-item:nth-child(2) span{
    color: #28a745;
}
.suggestions .suggestions-item:nth-child(3) span{
    color: #ffc107;
}
.suggestions .suggestions-item:nth-child(4) span{
    color: #6f42c1;
}

/* Prompt container stylings */
.prompt-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background: var(--primary-color);
}
.prompt-container :where(.prompt-wrapper, .promt-form, .prompt-actions) {
    display: flex;
    gap: 12px;
    height: 56px;
    align-items: center;
}
.prompt-wrapper .promt-form{
    width: 100%;
    height: 100%;
    border-radius: 130px;
    background: var(--secondary-color);
}
.promt-form .prompt-input{
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: 24px;
    color: var(--text-color);
}
.promt-form .prompt-input::placeholder{
    color: var(--placeholder-color);
}
.prompt-wrapper button{
    width: 56px;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    flex-shrink: 0;
    color: var(--text-color);
    background: var(--secondary-color);
    transition: 0.3s ease;
}
.prompt-wrapper button:hover{
    background: var(--secondary-hover-color);
}
.promt-form .prompt-actions{
    gap: 5px;
    margin-right: 7px;
}
.promt-form .prompt-actions button{
    height: 45px;
    width: 45px;
}
.promt-form #send-prompt-btn{
    color: #fff;
    display: none;
    background: red;
}
.promt-form .prompt-input:valid ~ .prompt-actions #send-prompt-btn{
    display: block;
}
.promt-form #send-prompt-btn:hover{
    background: black;
}
.prompt-container .disclaimer-text{
    text-align: center;
    font-size: 0.9rem;
    padding: 16px 20px 0;
    color: red;
}