@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
:root{
    /* Dark theme colors */
    --text-color: #edf3ff;
    --subheading-color: #97a7ca;
    --placeholder-color: #c3cdee;
    --primary-color: #101623;
    --secondary-color: #283045;
    --secondary-hover-color: #333e58;
    --scrollbar-color: #626a7f;
}
body{
    color: var(--text-color);
    background: var(--primary-color);
}
.container{
    padding: 32px 0 60px;
}
.container :where(.app-header, .suggestions, .prompt-wrapper, .disclaimer-text){
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 980px;
}

/* App header stylings */
.container .app-header{
    margin-top: 4vh;
}
.app-header .heading{
    font-size: 3rem;
    width: fit-content;
    background: linear-gradient(to left, black, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.app-header .sub-heading{
    font-size: 2.6rem;
    margin-top: -5px;
    color: var(--subheading-color);
}